header h1, header h2{
    text-align: left;
    margin-left: 55%;
}

header h1{
    font-size: 3em;
    container-name: test
}

header h2{
    font-size: 2em;
}

.navfooter ul,.navheader ul{
    display: flex;
    flex-wrap: nowrap;
}

.navfooter li, .navheader li{
    flex-basis: 19%;
    flex-grow: 1;
}

main{
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid red;
}

/*test*/
.largesection{
    flex-basis: 75%;
    flex-grow: 1;
    border: 1px solid red;
}

.sectionimg{
    display: flex;
    flex-wrap: nowrap;
}

.sectionimg p{
    flex-basis: 50%;
    padding: 5px;
}

.sectionimg img{
    flex-basis: 50%;
    padding: 5px;
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

aside{
    flex-basis: 25%;
    flex-grow: 1;
}

footer h2{
    text-align: right;
    margin-right: 20px;
    border-top-left-radius: 25px;
}
