main, h1{ 
  padding: 1em;
  color: rgb(255, 94, 0)
}

header li{
  list-style: none;
}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  box-shadow: 10px 5px 5px grey;
  border-radius: 10%;
}

main p{
  background-color: gainsboro;
  color : rgb(255, 94, 0)
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  list-style: none;
  box-shadow: 10px 5px 5px grey;
}

footer{
  border: thin solid black;
  color : rgb(255, 94, 0)
}
