header nav ul{
    display: flex;
    flex-wrap: nowrap;
}

header nav ul li{
    flex-basis: 20%;
}

body{
    display: flex;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-wrap: nowrap;
}

article{
    display: flex;
    flex-wrap: nowrap;
}

