header nav ul{
    display: flex;
    flex-wrap: nowrap;
}

header nav ul li{
    flex-basis: 20%;
}

header{
    width: 100%;
}

body{
    display: flex;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-wrap: no wrap;
}

aside{
    flex-grow: 1;
    flex-basis: 24%;
}

article{
    flex-grow: 1;
    flex-basis: 75%;
}

article section{
    display: flex;
    flex-wrap: no wrap;
}

article section section{
    display: flex;
    flex-wrap: wrap;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

