header{
  background-color: rosybrown;
}

#boite2{
  background-color: lightgreen;
}

#boite3{
  background-color: lightskyblue;
}

#boite4{
  background-color: violet;
}

footer{
  background-color: orange;
}